@define-color text #b5b5b5;
@define-color bg rgba(0, 0, 0, 0.5);
@define-color selected-text white;
@define-color selected-bg rgba(100, 100, 100, 0.6);
@define-color search-image white;

* {
	font-family: FontAwesome, 'Fira sans semibold';
	font-size: 16px;
}

window {
	border-radius: 6px;
	background-color: @bg;
}

#inner-box {
	background-color: transparent;
}

#outer-box {
	background-color: transparent;
	padding: 10px;
}

#input {
	padding-block: 5px;
	background-color: transparent;
}

#input:focus {
	box-shadow: none;
}

#text {
	margin: 5px;
	color: @text;
}

#text:selected,
#entry.activatable:selected #text,
#entry arrow {
	color: @selected-text;
}

#entry {
	background-color: transparent;
	border-radius: 6px;
	margin: 3px;
}

#expander-box {
	background-color: transparent;
}

#entry:selected,
#entry.activatable:selected,
#expander-box:selected {
	background-color: @selected-bg;
}


#img {
	margin-left: 0.25rem;
	margin-right: 0.5rem;
}